@import url('https://fonts.googleapis.com/css2?family=Puritan&family=Quattrocento&display=swap');
@import url('./header.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Puritan', sans-serif;    
}

body{
    background: url(../img/agregar.png);
    background-size: cover;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 85vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 30em;
    margin: 30px calc(50% - 20em); 
    padding: 2em 4em;
    background-color: white;
}

.agregarPaciente{
    justify-content: space-between;
    width: 40em;
}

label{
    line-height: 60px;
}

h3{
    font-size: 30px;
    font-weight:lighter;
    text-transform:uppercase;
}

#fechaAlta{
    width: 100%;
}

p{
    font-size:18px;
}

input{
    width: 250px;
    border: transparent;
    height: 40px;
    font-size: 15px;
    border-bottom: 1px solid rgba(109, 109, 109, 0.685);
    outline: none;
}

::placeholder{
    font-size: 15px;
    line-height: 40px;
}

button{
    background: linear-gradient(180deg, #787D8D 0%, #717FB3 100%);
    color: white;
    border-radius: 3px;
    padding: 15px;
    width: 95px;
    border: transparent;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(180deg, #707483 0%, #6672a0 100%);

}

button:active {
    position: relative;
    top: 1px;
}

.titulo{
    height: 80px;
    background-color: #423D46;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.contenedorDireccion{
    text-align: center;
    margin-top: 15px;
}
